body {
	margin: 3vh 3.5vw 2vh 3.5vw;
	max-width: 1000px;
	font-family: 'Merriweather', 'serif';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lusitana', 'serif';
}

pre {
	font-family: 'Lucida Console', 'Courier New', 'monospace';
	overflow-x: auto;
	color:rgb(50, 50, 50);
	max-width: 100%;
	background-color: rgb(231, 231, 231);
}

pre kw /* keyword */ {
	color:rgb(115, 17, 185);
}

pre vr /* variable */ {
	color: black;
}

pre fn /* function */ {
	color:rgb(32, 94, 175);
}

pre cm /* comment */ {
	color: rgb(17, 104, 43);
}
