/* css and font files taken from:                                      */
/* https://github.com/bitmaks/cm-web-fonts/blob/master/font/Serif      */
@font-face  {
	font-family: 'Computer Modern Typewriter';
	src: url('./fonts/cm/typewriter/cmuntt.eot');
	src: url('./fonts/cm/typewriter/cmuntt.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/cm/typewriter/cmuntt.woff') format('woff'),
	     url('./fonts/cm/typewriter/cmuntt.ttf') format('truetype'),
	     url('./fonts/cm/typewriter/cmuntt.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cm/serif/cmunrm.eot');
	src: url('./fonts/cm/serif/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cm/serif/cmunrm.woff') format('woff'),
		 url('./fonts/cm/serif/cmunrm.ttf') format('truetype'),
		 url('./fonts/cm/serif/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cm/serif/cmunbx.eot');
	src: url('./fonts/cm/serif/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cm/serif/cmunbx.woff') format('woff'),
		 url('./fonts/cm/serif/cmunbx.ttf') format('truetype'),
		 url('./fonts/cm/serif/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cm/serif/cmunti.eot');
	src: url('./fonts/cm/serif/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cm/serif/cmunti.woff') format('woff'),
		 url('./fonts/cm/serif/cmunti.ttf') format('truetype'),
		 url('./fonts/cm/serif/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./fonts/cm/serif/cmunbi.eot');
	src: url('./fonts/cm/serif/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/cm/serif/cmunbi.woff') format('woff'),
		 url('./fonts/cm/serif/cmunbi.ttf') format('truetype'),
		 url('./fonts/cm/serif/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* general */

body {
	margin: 3vh 3.5vw 5vh 3.5vw;
	max-width: 800px;
	font-family: 'Computer Modern Serif', serif;
}

h1 {
	font-weight: bold;
	margin: 1rem 0 0.5rem 0;
}

.subtitle {
	font-size: small;
	font-style: italic;
	color: dimgray;
	margin: 0 0 2rem 0;
}

p {
	line-height: 1.6;
}

/* index.html */

ul.index {
	padding-left: 0;
	list-style-position: inside;
}

/* Code Highlighting */

.code {
	font-family: 'Computer Modern Typewriter', monospace;
	overflow-x: auto;
	max-width: 100%;
	padding: 3px;
}

pre.code {
	background-color: rgb(231, 231, 231);
}

.code kwd /* keyword */ {
	color:rgb(115, 17, 185);
}

.code vrb /* variable */ {
	color: black;
}

.code typ /* type */ {
	color: darkcyan;
}

.code fun /* function */ {
	color:rgb(32, 94, 175);
}

.code com /* comment */ {
	color: rgb(17, 104, 43);
}

.code str /* string literal */ {
	color: rgb(125, 87, 17);
}

.tree-diagram {
	font-family: 'Computer Modern Typewriter', monospace;
}

.tree-diagram rect {
	stroke: black;
	stroke-width: 0.3;
	fill: none;
}

.tree-diagram text {
	text-anchor: middle;
	dominant-baseline: central;
}

.tree-diagram line {
	stroke: black;
	stroke-width: 0.1;
}

.memory-diagram {
	font-family: 'Computer Modern Typewriter', monospace;
}

.memory-diagram rect {
	stroke: black;
	stroke-width: 0.3;
	fill: none;
}

.memory-diagram text {
	text-anchor: middle;
	dominant-baseline: central;
}
